@media (max-width: 900px){
  .blogs-main-news{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    
  }
  .blogs-news-img-container{
    grid-row: 2;
  }
  .blogs-news-info-container{
    grid-column: 1;
    grid-row: 3;
  }
}


@media only screen and (min-width: 560px){
    .nav__toggle{
      display: none;
    }
    .nav__menu{
      flex-direction: row;
    }
    .nav__menu li{
      display: block;
    }
    
  }

    @media only screen and (max-width: 718px){
      div .main-image{
        position: fixed;
        bottom: 0;
      }
      .slider img {
        object-position: center center;
      }
   
    }

  




   
  
  



